doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title musicnote
    link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    style
      include ./stylesheets/reset.css
      include ./stylesheets/main.css
  body
    div.filter
    header.glassmorphism musicnote
    section
      div.section_Box
        div.day_name musiclist
        div.list_boxs
          -for(j = 0; j < data.length; j++)
            div.list 
              input(type="checkbox", name="")
              div.list_Text #{data[j].song} - #{data[j].actor}
              span.material-icons &#xE14D;
    form(action="/create", method="post") 
      input(type="text", name="actor", placeholder="actor")
      input(type="text", name="song", placeholder="song", required)
      input(type="submit", value="", style="display:none;")

    input(type="text", name="search", placeholder="Search song name").searchSong
