doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title musicnote
    link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    style
      include ./stylesheets/reset.css
      include ./stylesheets/main.css
  body
    div.filter
    header.glassmorphism musicnote
    section
      div.section_Box
        div.day_name musiclist
        div.list_boxs
          -for(song of data)
            div.list 
              //- form.deleteForm(method="POST", action=`/song/${song.name}?_method=DELETE`)
              span.material-icons.deleteBtn &#xe92e;
                span.deleteSongName(style="display:none;") #{song.name}
              div.list_Text #{song.name} - #{song.actor}
              span.material-icons.copyBtn &#xE14D;
    form.createForm(action="/create", method="post")
      input.writeSong(type="text", name="name", placeholder="name", required)
      input.writeActor(type="text", name="actor", placeholder="actor")
      input(type="submit", style="display:none;")

    input.searchSong(type="text", name="search", placeholder="Search song name")
  script(src="https://code.jquery.com/jquery-3.4.1.min.js")
  script(src="javascripts/main.js")
